$primary-color: #0082BC;
$secondary-color: #F0EDFF;
$success-color: #00C893;
$info-color: #ABA9BB;
$error-color: #F3799E;
$danger-color: #FF9780;
$warning-color: #FFC568;
$yellow-color: #F9F871;

$very-peri: #6667AB;
$very-peri-shade-1: #8382C9;
$very-peri-shade-2: #A09EE7;
$very-peri-shade-3: #BEBBFF;
$very-peri-shade-4: #DCD9FF;